dist: bionic
language:
  - cpp
branches:
  only:
  - master
  - fix
compiler:
  - gcc
before_install:
  - sudo apt-get update
  - sudo apt-get install -y --fix-missing build-essential
  - sudo apt-get install -y --fix-missing python3 python3-dev python3-setuptools python3-pip
  - pip3 install numpy scipy matplotlib healpy jupyter pytest nbval
addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-7
      - g++-7
before_script:
  - export CC=/usr/bin/gcc-7
  - export CXX=/usr/bin/g++-7
  - gcc -v && g++ -v && cmake --version
  - cd ${TRAVIS_BUILD_DIR}
  - git clone https://github.com/google/googletest.git googletest
  - cd googletest && mkdir build 
  - cd build && cmake -DCMAKE_INSTALL_PREFIX:PATH=/tmp/local .. && make && make install 
  - mkdir /tmp/local/src && cp ../googletest/src/* /tmp/local/src
  - cd ${TRAVIS_BUILD_DIR}
  - mkdir fftw
  - wget http://www.fftw.org/fftw-3.3.8.tar.gz && tar xzf fftw-3.3.8.tar.gz -C fftw --strip-components 1
  - cd fftw && ./configure --enable-threads --enable-openmp --enable-shared --prefix=/tmp/local/ && make && make install
script:
  - cd ${TRAVIS_BUILD_DIR} && mkdir build
  - cd build && cmake .. && make install
  - export PATH=/tmp/local/hammurabi/bin:${PATH}
  - export LD_LIBRARY_PATH=/tmp/local/hammurabi/lib:${LD_LIBRARY_PATH}
  - cd ${TRAVIS_BUILD_DIR} && python3 setup.py install
  - make test
  - cd ${TRAVIS_BUILD_DIR}/tutorials && pytest --nbval-lax
